// Mobile
@mixin mobile {
    @media (max-width: 425px) {
        footer {
            width: 100%;
            height: 1024px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding-top: 5.5rem;
            background: #95a9c617;

                .bg-image {
                    display: none;
                }
                

                .bg-image-mobile {
                    position: absolute;
                    width: 100%;
                    // height: auto;
                    z-index: -1;
                    left: 0;
                    top: 0;

                }
            

                .media {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 2.5rem;
                    
                        .logo {
                            width: 25%;
                            margin-bottom: 2rem;
                        }

                        .social-media {
                            width: 40%;
                            display: flex;
                            
                            justify-content: space-evenly;
                        }
                }

                
                .links {
                    
                    display: flex;
                    overflow: hidden;
                    text-align: center;
                    margin-top: 2.75rem;
                    flex-direction: column;
                    text-transform: uppercase;
                    

                        div {
                            display: flex;
                            margin-bottom: 2rem;
                            flex-direction: column;

                                :last-child{
                                    margin: 0;
                                }
                            
                        
                                p {
                                    color: $DarkGrayishViolet;
                                    font-weight: 600;
                                    margin-bottom: 2rem;
                                }

                                a {
                                    color: $DarkViolet;
                                    text-decoration: none;
                                    margin-bottom: 1rem;
                                    
                                }

                        }

                }

        }
    }

   
}
// Mobile

// Tablet
@mixin tablet {
    @media (min-width: 425.1px) and (max-width: 768px) {
        footer {
            width: 100%;
            height: 1024px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 2.5rem 2.5rem;
            background: #95a9c617;

                .bg-image-mobile {
                    display: none;
                }

                .bg-image {
                    position: absolute;
                    width: 50%;
                    z-index: -1;
                    left: 0;
                    top: 0;

                }
            

                .media {
                    display: flex;
                    margin: 5rem 0;
                    align-items: center;
                    flex-direction: column;
                    
                        .logo {
                            width: 40%;
                            padding: 1.625rem;
                        }

                        .social-media {
                            width: 40%;
                            display: flex;
                            margin-top: .4rem;
                            margin-bottom: 2.9rem;
                            justify-content: space-evenly;
                        }
                }

                hr {
                    transform: translateY(23px);
                }

                .links {
                    
                    height: 100%;
                    display: grid;
                    overflow: hidden;
                    text-align: center;
                    margin-top: 6rem;
                    grid-template-columns: 1fr 1fr;
                    text-transform: uppercase;
                    

                        div {
                            display: flex;
                            margin-bottom: 1rem;
                            flex-direction: column;
                            
                        
                                p {
                                    font-size: 1.5rem;
                                    font-weight: 600;
                                    margin-bottom: 2.5rem;
                                    color: $DarkGrayishViolet;

                                }

                                a {
                                    font-size: 1.2rem;
                                    color: $DarkViolet;
                                    margin-bottom: 1rem;
                                    text-decoration: none;
                                }

                        }

                }

        }    
    }
    
}
// Tablet

// Desktop
@mixin desktop {
    @media (min-width: 768.1px) and (max-width: 1440px) {
        footer {
            width: 100%;
            height: 393px;
            display: flex;
            overflow: hidden;
            flex-direction: column;
            padding: 4rem 10.3125rem;
            background: #95a9c617;

                .bg-image-mobile {
                    display: none;
                }
                
                .bg-image {
                    position: absolute;
                    width: 41%;
                    z-index: -1;
                    left: 0;
                    top: 0;
                }
            

                .media {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 2.3125rem;
                        
                            .logo {
                                width: 11.4%;
                            }

                            .social-media {
                                width: 15%;
                                display: flex;
                                justify-content: space-evenly;
                            }
                }

                .links {
                    width: 80%;
                    display: flex;
                    overflow: hidden;
                    justify-content: space-between;
                    padding-top: 2.1875rem;
                    text-transform: uppercase;
                    

                        div {                            
                        
                                p {
                                    font-size: 0.6875rem;
                                    font-weight: 600;
                                    margin-bottom: 1.8625rem;
                                    color: $DarkGrayishViolet;

                                }

                                a {
                                    display: flex;
                                    flex-direction: column;
                                    font-size: 0.6875rem;
                                    color: $DarkViolet;
                                    margin-bottom: 1.2375rem;
                                    text-decoration: none;

                                        &:hover {
                                            text-decoration: underline;
                                        }
                                }

                        }

                }

        }  
    }
}
// Desktop

