@media (max-width: 425px) {
    nav {
        width: 100%;
        height: 80px;
        padding: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

            img {
                margin: 0;
            }
    }

    #hero{
        display: flex;
    }
    
    #hero-img {
        width: 100%;
    }

    #about {
        width: 100%;
        height: 500px;
        background: $DarkViolet;
        position: relative;
        text-align: center;
        padding-top: 92px;
        color: white;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
    }

    #top-left{
        position: absolute;
        top: 0;
        left: 0;
    }

    #about-txt{
        padding: 15px 30px 35px;
    font-weight: 700;
    line-height: 1.5;
    }

    #about-btn {
        width: 144px;
        height: 38px;
        border: 2px solid white;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #about-btn:hover {
        background: white;
        color: black;
    }

    #bottom-right {
        position: absolute;
        right: 0;
        top: 70%;
    }
}