* {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  font-size: 2.9rem;
  line-height: 50px;
}

body {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

@media (max-width: 425px) {
  nav {
    width: 100%;
    height: 80px;
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav img {
    margin: 0;
  }
  #hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #hero-img {
    width: 100%;
  }
  #about {
    width: 100%;
    height: 500px;
    background: #2d2640;
    position: relative;
    text-align: center;
    padding-top: 92px;
    color: white;
  }
  #top-left {
    position: absolute;
    top: 0;
    left: 0;
  }
  #about-txt {
    padding: 15px 30px 35px;
    font-weight: 700;
    line-height: 1.5;
  }
  #about-btn {
    width: 144px;
    height: 38px;
    border: 2px solid white;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about-btn:hover {
    background: white;
    color: black;
  }
  #bottom-right {
    position: absolute;
    right: 0;
    top: 70%;
  }
}

@media all and (max-width: 375px) {
  .bg-pattern-intro-right-mobile {
    position: absolute;
    top: -23%;
    right: 1%;
    overflow: hidden;
  }
  .starting-line {
    width: 149px;
    height: 1px;
    border: 1px solid #9b9999;
    position: absolute;
    top: 7%;
    left: 33%;
  }
  .middle-section {
    position: relative;
    padding-top: 160px;
    text-align: center;
  }
  .title h1 {
    font-size: 48px;
    padding-bottom: 91px;
    color: #5e5c5c;
  }
  .snappy-icon, .affordable-icon, .people-first-icon {
    padding-bottom: 20px;
  }
  .snappy-title h2, .affordable-title h2, .people-first-title h2 {
    font-size: 26px;
    padding-bottom: 25px;
    color: #525050;
  }
  .snappy-text, .affordable-text, .people-first-text {
    font-size: 13px;
    width: 77%;
    line-height: 20px;
    word-spacing: 0.2rem;
    color: #5e5c5c;
    padding-bottom: 56px;
  }
  .down-triangle {
    border: 1px solid black;
    width: 329px;
    height: 348px;
    background-color: #2d2640;
    position: relative;
  }
  .down-triangle img {
    position: absolute;
    left: 46%;
    top: -1%;
    overflow: hidden;
  }
  .down-triangle h1 {
    font-size: 36px;
    color: white;
    width: 233px;
    padding-top: 72px;
    padding-bottom: 39px;
  }
  .inside-triangle {
    border: 1px solid white;
    width: 160px;
    height: 39px;
  }
  .inside-triangle h3 {
    color: white;
    font-size: 11px;
    word-spacing: 0.1rem;
    letter-spacing: 0.2rem;
  }
}

@media (max-width: 425px) {
  footer {
    width: 100%;
    height: 1025px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-top: 8.75rem;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #95a9c617;
    padding: 5.5rem 1.562rem;
    padding-bottom: 0;
  }
  footer .bg-image-desktop {
    display: none;
  }
  footer .bg-image-mobile {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
  }
  footer .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.5rem;
  }
  footer .media .logo {
    width: 80%;
    margin-bottom: 2rem;
  }
  footer .media .social-media {
    width: 110%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer hr {
    width: 100%;
  }
  footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    text-align: center;
    margin-top: 2.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-transform: uppercase;
  }
  footer .links div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .links div :last-child {
    margin: 0;
  }
  footer .links div p {
    color: #837d87;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  footer .links div a {
    color: #2d2640;
    text-decoration: none;
    margin-bottom: .83rem;
  }
}
